extends ../layout.pug

block content

  -
    var entry = caseStudy.data;
      var cs_content = entry.cs_content;
      var csContext = entry.caseStudyContext;
        var pageIndex = csContext.pageIndex;
        var listSize = csContext.listSize;
        var nextPage = csContext.nextPage;
  main.caseStudy
  
    div.csBlock.caseStudy__info.-animated
      //- Tags 
      ul.csBlock__verticalData.-left.-tags
        each tag in csContext.uniqueTags
          if  caseStudy.tags.indexOf(tag) > -1
            li.csBlock__verticalData__item.-active= tag
          else  
            li.csBlock__verticalData__item= tag
      
      //- Index 
      ul.csBlock__verticalData.-right.-index
        li.csBlock__verticalData__item No. #{pageIndex + 1} of #{listSize}
        
      div.caseStudy__info__title
        h1.size-vw
          != PrismicDOM.RichText.asText(entry.title)
      div.caseStudy__info__desc
        p.roles!=entry.deliverables
        p.overview!= PrismicDOM.RichText.asText(entry.description)

    .caseStudy__content
      include partials/casestudy/content.pug
    .caseStudy__nextNav
      p Next
      h1
        a(href=nextPage.uid)!= PrismicDOM.RichText.asText(nextPage.data.title)
