extends ../layout.pug

block content
  -
    var entry = document.data
      var cs_content = entry.cs_content;
      var csContext = entry.caseStudyContext;
        var pageIndex = csContext.pageIndex;
        var listSize = csContext.listSize;
        var nextPage = csContext.nextPage;
      console.log(
        PrismicDOM.RichText.asText(nextPage.data.title)
      )
        
  main.caseStudy
    div.csBlock.caseStudy__info
      div.caseStudy__info__title
        h1.size-vw
          != PrismicDOM.RichText.asText(entry.title)
      div.caseStudy__info__desc
        p.roles.small!=entry.deliverables
        p.overview!= PrismicDOM.RichText.asText(entry.description)

      .csBlock__tagIndicator.-left
        each tag in document.data.caseStudyContext.uniqueTags
          if  document.tags.indexOf(tag) > -1
            p.csBlock__tagIndicator__tag.active= tag
          else  
            p.csBlock__tagIndicator__tag= tag
      .csBlock__tagIndicator.-right
        p.csBlock__tagIndicator__tag No. #{pageIndex + 1} of #{listSize}
    
    .caseStudy__content
      each item in cs_content
        
        //- Single Image
        if item.slice_type === 'single_image'
          div(class="row caseStudy__block caseStudy__block--single")
            img(class="caseStudy__img" src!=item.primary.image.url)
        
        //- Double Image
        if item.slice_type === 'double_image_block'
          div(class="row caseStudy__block caseStudy__block--double")
            div(class="col caseStudy__col --left")
              img(class="caseStudy__img" src!=item.primary.left_image.url)
            div(class="col caseStudy__col--right")  
              img(class="caseStudy__img" src!=item.primary.right_image.url)
        
        //- Triple Image
        if item.slice_type === 'triple_image_block'
          -var direction = item.primary.main_image_position
          div(class="row caseStudy__block caseStudy__block--triple")
            if direction == "Left"
                div(class="col caseStudy__col --left")
                  img(class="caseStudy__img" src!=item.primary.main_image.url)
                div(class="col caseStudy__col --right")
                  img(class="caseStudy__img" src!=item.primary.secondary_image_1.url)
                  img(class="caseStudy__img" src!=item.primary.secondary_image_2.url)
            if direction == "Right"
                div(class="col caseStudy__col --left")
                  img(class="caseStudy__img" src!=item.primary.secondary_image_1.url)
                  img(class="caseStudy__img" src!=item.primary.secondary_image_2.url)
                div(class="col caseStudy__col --right")
                  img(class="caseStudy__img" src!=item.primary.main_image.url)
        
        //- website
        if item.slice_type === 'website'
          -var browserSettings = {frameColor,}
            div.row.caseStudy__block.caseStudy__block--website(
              style=`background-color: ${item.primary.background_color}`)
              div.col.caseStudy__website
                div.caseStudy__website__frame(
                    style=`background-color: ${item.primary.browser_frame_color}`)
                  span.dot.-dot1(style=`background-color: ${item.primary.background_color}`)
                  span.dot.-dot2(style=`background-color: ${item.primary.background_color}`)
                  span.dot.-dot2(style=`background-color: ${item.primary.background_color}`)
                div.caseStudy__website__window
                  -var vidURL = item.primary.browser_media.url
                  -var imgURL = item.primary.browser_image.url
                  if vidURL
                    video.caseStudy__video(autoplay)
                      source(src=vidURL type="video/mp4")
                  else
                    img(class="caseStudy__img caseStudy_website_image" src!=imgURL)
    .caseStudy__nextNav
      p Next
      h1
        a(href=nextPage.uid)!= PrismicDOM.RichText.asText(nextPage.data.title)
