extends ../layout.pug


block content
  -var cs_content = document.data.cs_content;

  main.caseStudy
    div(class="csBlock caseStudy__info")
      div(class="caseStudy__info__title")
        h1
          != PrismicDOM.RichText.asText(document.data.title, ctx.linkResolver)
      div(class="caseStudy__info__desc")
        p!= PrismicDOM.RichText.asText(document.data.description, ctx.linkResolver)
      .csBlock__tagIndicator
        each tag in document.data.caseStudyContext.uniqueTags
          p.csBlock__tagIndicator__tag= tag
    .caseStudy__content
      each item in cs_content
        if item.slice_type === 'single_image'
          div(class="row caseStudy__block caseStudy__block--single")
            img(class="caseStudy__img" src=item.primary.image.url)
        if item.slice_type === 'double_image_block'
          div(class="row caseStudy__block caseStudy__block--double")
            div(class="col caseStudy__col --left")
              img(class="caseStudy__img" src=item.primary.left_image.url)
            div(class="col caseStudy__col--right")  
              img(class="caseStudy__img" src=item.primary.right_image.url)
